@import url('https://fonts.googleapis.com/css?family=Karla|Share+Tech+Mono|Monoton|VT323');

html, body {
	min-height: 100vh;
	margin: 0;
}

body {
	font-family: 'Karla', sans-serif;
	color: #dedede;
	background-image: linear-gradient(-20deg, #010946  0%, #000000 100%);
	background-repeat: no-repeat;
	background-size: cover;
  letter-spacing: 1px;

}
.navbar {
  height: 50px;
	z-index: 10;
}
.navbar a {
	color: white;
}

#root, .App {
  min-height: inherit;
}

#charts .chart-container {
  width: 100%;
  height: 200px;
}

#charts {
  width: 100%;
}

#sidebarcontent {
  min-height: calc(100vh - 50px)
}

#sidebarcontainer {
  background-color: rgb(0,0,0,0.3);
  min-height: inherit;
}

#main {
  margin-left: auto;
  padding-top: 10px;
}

.navbar-brand {
  font-size: 38px;
  font-family:'VT323', sans-serif;
  color: #c5c5c5;
  letter-spacing: 8px;
  font-weight:900;
  text-shadow: 0 2px 5px rgba(0,0,0,0.4);
	background-color: rgb(0,0,0,0.5);

}

.game-title {
  font-size: 38px;
  font-family:'VT323', sans-serif;
  color: #c5c5c5;
  letter-spacing: 8px;
  font-weight:900;
}

.navbar-brand-transparent {
  font-size: 38px;
  font-family:'VT323', sans-serif;
  color: #c5c5c5;
  letter-spacing: 8px;
  font-weight:900;
  text-shadow: 0 2px 5px rgba(0,0,0,0.4);

}

.icon-gradient {
	background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
	text-shadow: none;
	color: transparent;
  -webkit-background-clip: text;
	font-size: 34px;
}

.navbar {
	color: #e1e1f3;
	padding-right: 30px;
}
.icon-header {
	font-size: 35px;
	margin-right: 20px;
	text-shadow: 1px 0px 3px rgb(0, 0, 0, 0.5);
}

.avatar-header {
	border-radius: 50%;
	margin-right: 10px;
	height: 50px;
}

.row {
	margin: 0;
}

.dot {
	height: 300px;
	width: 500px;
	background-image: linear-gradient(to top right, rgba(171,127,212,0.7), rgba(255,255,255,0));
	border-radius: 5%;
	left: -300px;
	z-index: -10;
	position: fixed;
	text-shadow: 1px 0px 3px rgb(0, 0, 0, 0.5);
}

#sidebar {
	margin-top: 30%;
	text-shadow: 2px 2px 5px rgb(0, 0, 0, 0.5);

}

#sidebar .sidebaritem {

	font-size: 28px;
  background-color: rgba(255,255,255,0.05);
	color: #e1e1f3;
	margin-top: 10px;
	letter-spacing: 1px;
	border-left: 3px solid rgba(204,51,204,0.2);
	padding: 5px;
	width: 96%;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);


}



#sidebar h3 {
	 margin-top: 20px;
	 letter-spacing: 25px;
	 font-size:35px;
	 text-align:center;
}


#sidebar span {
	 	vertical-align:top;
}

#sidebar .subtitle {
	 	font-size: 13px;
		color: grey;
}

#sidebar i {
	margin-right: 10px;
	font-size: 60px;
	float:left;
}

.tictactoe-icon {
	color: #9db1c5;
	text-shadow: none;
}

.checkers-icon {
	background-image: linear-gradient(to right bottom, #0e1e2e, #2a264f, #631e5b, #9a0047, #b71515);
	text-shadow: none;
	color: transparent;
	-webkit-background-clip: text;
}

#charts span {
	font-size: 19px;
	letter-spacing: 2px;
	font-weight: bold;
}

.green {
	font-size: 40px !important;
	color: #5df4b0;

}

.green h1 {
	font-size: 160px;
	text-align: center;
	border-radius: 50%;
	border-color: #FF6384;
}

.green h2 {
	font-size: 80px;
}

.stats {
	font-size: 40px !important;
}

/* USER PROFILE STYLES */

#userProfile {
    padding: 20px;
}

.profile-button {
    position: absolute;
    background-color: #111111;
    height: 40px;
    border-color: blue;
    color: blue;
    border-radius: 8px;
}

#back-btn{
    z-index:2;
	top: 40px;
	width: 80px;
    left: 100px;
}

#userProfile #profile-btn{
	top: 40px;
	right: 100px;
	width: 100px;
}

#userProfile .charts .chart-container {
	width: 100%;
	height: 200px;
}

#userProfile .charts {
	width: 100%;
	margin: 50px 0 100px 0;
}

#userProfile #username {
	font-size: 60px;
	font-family:'VT323', sans-serif;
	color: #c5c5c5;
	letter-spacing: 8px;
	font-weight:900;
}

#userProfile .chartsLabel {
	font-size: 36px;
	font-family:'VT323', sans-serif;
	color: #c5c5c5;
	letter-spacing: 8px;
	font-weight:900;
}

/* TROPHY PAGE STYLES */

.trophiesTitle {
	font-size: 60px;
	font-family:'VT323', sans-serif;
	color: #c5c5c5;
	letter-spacing: 8px;
	font-weight:900;
}

.trophy {
	display: inline-block;
	position: relative;
	width: 200px;
	height: 200px;
	margin: 30px;
}

.trophy-plaque {
	width: 200px;
	height: 200px;
	background-image: url("./plaque.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.trophy-crown {
	width: 80px;
	height: 46px;
	background-image: url("./crown.png");
	z-index: 10;
	position: absolute;
	top: 10px;
	left: 60px;
}

.trophy-crown-spacer {
	width: 80px;
	height: 46px;
	position: absolute;
	top: 10px;
	left: 60px;
}

.trophy-avatar {
	width: 100px;
	height: 100px;
	background-image: url("./avatar.jpeg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	position: absolute;
	top: 50px;
	left: 50px;
}

.trophy-description {
	display: none;
	position: absolute;
	top: 156px;
	width: 200px;
	background-color: #111111;
	color: lime;
	border-radius: 10%;
	padding: 10px;
}

.trophy:hover .trophy-description {
	display: inline-block;
}

/* ADMIN DASHBOARD STYLES */

#admin-dashboard {
	width: 1040px;
	margin: auto;
    padding: 20px;
}

#admin-dashboard .logout {
    position: absolute;
    top: 25px;
    background-color: #111111;
    height: 40px;
    width: 100px;
    border-color: blue;
    color: blue;
    border-radius: 8px;
}

.pending-user {
	margin: 20px 0px;
	height: 50px;
	padding: 12px;
	background-color: #111111;
}

.pending-user button {
	float: right;
	border: none;
	background-color: transparent;
}

.pending-user .user-name {
	color: lime;
}

.pending-user .deny-user {
	color: red;
}

.pending-user .accept-user {
	color: lightblue;
}

#admin-dashboard .active-user {
	display: inline-block;
	position: relative;
	width: 200px;
	height: 300px;
	margin: 25px;
}

#admin-dashboard .user-avatar {
	width: 200px;
	height: 200px;
	background-image: url("./avatar.jpeg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	position: absolute;
	top: 50px;
	left: 0px;
}

#admin-dashboard .user-description {
	display: block;
	position: absolute;
	top: 0px;
	width: 200px;
	height: 50px;
	padding: 10px;
	font-size: 24px;
	font-family:'VT323', sans-serif;
	color: #c5c5c5;
	letter-spacing: 8px;
	font-weight:900;
}

#admin-dashboard .user-buttons-container {
    height: 50px;
    width: 200px;
    position: absolute;
    top: 250px;
    padding-top: 5px;
}

.active-user .ban-user {
	background-color: white;
    color: black;
    border-color: red;
    border-radius: 8px;
}

.active-user .ban-user:hover {
    background-color: red;
    color: white;
}

.active-user .reinstate-user {
	background-color: white;
    color: black;
    border-color: lightblue;
    border-radius: 8px;
}

.active-user .reinstate-user:hover {
    background-color: lightblue;
    color: white;
}

.active-user .user-banned {
    position: absolute;
    top: 115px;
    left: 10px;
    transform: rotate(-30deg);
    font-size: 48px;
    color: red;
}

#login {
	background-color: black;
	width: 320px;
	padding: 20px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#loginContainer {
	margin: 0 auto;
	width: 340px;
	padding-top: 10%;
	text-align:center;
}

.btn {
	border-radius: 50px;
}

.btn-primary {
	background-image: linear-gradient(to right, #308bd0 0%, #330867 100%);
	border: transparent;
	box-shadow:0px 0px 3px #333;
}

#loginButton {
	width: 100%;
}

.dropdown-menu {
	background-color: black;
	color: white;
}

.dropdown-menu ul {
	list-style: none;
}

#profileMenu:hover {
	cursor: pointer;
}

#start-button {
	padding-left: 10px;
	padding-right: 10px;
	top: 68%;
	left: 53%;
	position: fixed;
	border-radius: 10%;
	border-color: #FF6384;
	border-width: 5px;
}

#tictactoe-icons .fa-times {
	top: 74%;
	left: 35%;

}

#tictactoe-icons .fa-circle {
	top: 74%;
	left: 78%;

}

.move {
	position: fixed;
	background-color: #FF6384;
	animation: bounce 1s infinite alternate;
	-webkit-animation: bounce 1s infinite alternate;
}

@keyframes bounce {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-70px);
	}
}

@-webkit-keyframes bounce {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-70px);
	}
}

.username-container {
	font-family:'VT323', sans-serif;
	display: inline-text;
}

.avatar-container {
	background-color: rgb(0,0,0,0.3);
	border-left: 3px solid rgba(204,51,204,0.2);
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.avatar {
	height: 200px;
}

#change-icon {
	margin-top: 15px;
	margin-left: 38px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.user-bio {
	margin-left: 40px;
}

.profile-changes {
	margin-top: 40px;
	background-color: rgb(0,0,0,0.3);
	text-align: center;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#winstreaks {
    padding: 10px;
    display: inline-block;
    width: 200px;
    margin-left: calc(50% - 500px);
}

.winstreaks-amount {
    font-size: 36px;
    font-family:'VT323', sans-serif;
    color: #c5c5c5;
    letter-spacing: 8px;
    font-weight:900;
}

.player-stats {
    width: 400px;
    height: 100%;
}

.player-avatar {
    width: 100px;
	height: 100px;
	background-image: url("./avatar.jpeg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
    position: absolute;
    top: 0;
}

.player-name {
    position: absolute;
    top: 20px;
    font-size: 38px;
    font-family:'VT323', sans-serif;
    color: #c5c5c5;
    letter-spacing: 8px;
    font-weight:900;
}

#myStats {
    float: left;
    background-color: red;
}

#myStats .player-avatar {
    left: 20px;
}

#myStats .player-name {
    left: 150px;
}

#theirStats {
    float: right;
    background-color: blue;
}

#theirStats .player-avatar {
    right: 20px;
}

#theirStats .player-name {
    right: 150px;
}

#inGameHeader {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #111111;
}

#winstreaks {
    padding: 10px;
    display: inline-block;
    width: 200px;
    margin-left: calc(50% - 500px);
}

.winstreaks-amount {
    font-size: 36px;
    font-family:'VT323', sans-serif;
    color: #c5c5c5;
    letter-spacing: 8px;
    font-weight:900;
}

.player-stats {
    width: 400px;
    height: 100%;
}

.player-avatar {
    width: 100px;
	height: 100px;
	background-image: url("./avatar.jpeg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
    position: absolute;
    top: 0;
}

.player-name {
    position: absolute;
    top: 20px;
    font-size: 38px;
    font-family:'VT323', sans-serif;
    color: #c5c5c5;
    letter-spacing: 8px;
    font-weight:900;
}

#myStats {
    float: left;
    background-color: red;
}

#myStats .player-avatar {
    left: 20px;
}

#myStats .player-name {
    left: 150px;
}

#theirStats {
    float: right;
    background-color: blue;
}

#theirStats .player-avatar {
    right: 20px;
}

#theirStats .player-name {
    right: 150px;
}

#tictactoeboard {
    position: absolute;
    top: 150px;
    left: calc(50% - 300px);
}

#tictactoeboard td {
	border: 4px solid #d3cfd6;
	height: 200px;
	width: 200px;
	text-align:center;
	border-radius:10px;
}

.ttt-circle-all {
	background-image: linear-gradient(to right, #308bd0 0%, #330867 100%);
	color: transparent;
	-webkit-background-clip: text;
	font-size: 10em;
}

.ttt-x-all {
	background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
	color: transparent;
	-webkit-background-clip: text;
	font-size: 12em;
}

#tictactoeboard #top-left-ttt {
	border-left:none;
	border-top:none;
}

#tictactoeboard #top-center-ttt {
	border-top:none
}

#tictactoeboard #top-right-ttt {
	border-right:none;
	border-top:none;
}

#tictactoeboard #middle-left-ttt {
	border-left:none;
	border-top:none;
}

#tictactoeboard #middle-center-ttt {
	border-top:none
}

#tictactoeboard #middle-right-ttt {
	border-right:none;
	border-top:none;
}

#tictactoeboard #bottom-left-ttt {
	border-left:none;
	border-top:none;
	border-bottom:none;
}

#tictactoeboard #bottom-center-ttt {
	border-top:none;
	border-bottom:none;
}

#tictactoeboard #bottom-right-ttt {
	border-right:none;
	border-top:none;
	border-bottom:none;
}

#registerSpan {
	font-weight: 900;
	font-size: 16px;
	margin-top: 20px;
	display: inline-block;
}

#changeName {
	left: 10px;
}

.profile-changes-header {
	color: #5df4b0;
}

.none {
	display: none;
}

.expandView {
	height: 110vh;
}

a:hover {
	text-decoration: none;
	color: #a4c7ff;
}

/* CHECKERS STYLE */
#checkersBoard {
    position: absolute;
    top: 150px;
    /*left: calc(50% - 300px);*/
}
