@import url('https://fonts.googleapis.com/css?family=Karla|Share+Tech+Mono|Monoton|VT323');

html, body {
	height: 100%;
	margin: 0;
}

body {
	font-family: 'Karla', sans-serif;
	color: #dedede;
	background-image: linear-gradient(-20deg, #010946  0%, #000000 100%);
	background-repeat: no-repeat;
	background-size: cover;
  letter-spacing: 1px;

}
.navbar {
  height: 50px;
	z-index: 10;
}
.navbar a {
	color: white;
}

#root {
  height:100%;
}

.App {
  height: 100%;
}

#charts .chart-container {
  width: 100%;
  height: 200px;
}

#charts {
  width: 100%;
}


#sidebarcontainer {
  background-color: rgb(0,0,0,0.3);
  position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
}

#main {
  margin-left: auto;
  padding-top: 10px;
}

.navbar-brand {
  font-size: 38px;
  font-family:'VT323', sans-serif;
  color: #c5c5c5;
  letter-spacing: 8px;
  font-weight:900;
  text-shadow: 0 2px 5px rgba(0,0,0,0.4);
	background-color: rgb(0,0,0,0.5);

}

.game-title {
  font-size: 38px;
  font-family:'VT323', sans-serif;
  color: #c5c5c5;
  letter-spacing: 8px;
  font-weight:900;
}

.navbar-brand-transparent {
  font-size: 38px;
  font-family:'VT323', sans-serif;
  color: #c5c5c5;
  letter-spacing: 8px;
  font-weight:900;
  text-shadow: 0 2px 5px rgba(0,0,0,0.4);

}

.icon-gradient {
	background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
	text-shadow: none;
	color: transparent;
  -webkit-background-clip: text;
	font-size: 34px;
}

.navbar {
	color: #e1e1f3;
	padding-right: 30px;
}
.icon-header {
	font-size: 35px;
	margin-right: 20px;
	text-shadow: 1px 0px 3px rgb(0, 0, 0, 0.5);
}

.avatar-header {
	border-radius: 50%;
	margin-right: 10px;
	height: 50px;
}

.row {
	margin: 0;
}

.dot {
	height: 300px;
	width: 500px;
	background-image: linear-gradient(to top right, rgba(171,127,212,0.7), rgba(255,255,255,0));
	border-radius: 5%;
	left: -300px;
	z-index: -10;
	position: fixed;
	text-shadow: 1px 0px 3px rgb(0, 0, 0, 0.5);
}

#sidebar {
	margin-top: 30%;
	text-shadow: 2px 2px 5px rgb(0, 0, 0, 0.5);

}

#sidebar .sidebaritem {

	font-size: 28px;
  background-color: rgba(255,255,255,0.05);
	color: #e1e1f3;
	margin-top: 10px;
	letter-spacing: 1px;
	border-left: 3px solid rgba(204,51,204,0.2);
	padding: 5px;
	width: 96%;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);


}



#sidebar h3 {
	 margin-top: 20px;
	 letter-spacing: 25px;
	 font-size:35px;
	 text-align:center;
}


#sidebar span {
	 	vertical-align:top;
}

#sidebar .subtitle {
	 	font-size: 13px;
		color: grey;
}

#sidebar i {
	margin-right: 10px;
	font-size: 60px;
	float:left;
}

.tictactoe-icon {
	color: #9db1c5;
	text-shadow: none;
}

.checkers-icon {
	background-image: linear-gradient(to right bottom, #0e1e2e, #2a264f, #631e5b, #9a0047, #b71515);
	text-shadow: none;
	color: transparent;
	-webkit-background-clip: text;
}

#charts span {
	font-size: 19px;
	letter-spacing: 2px;
	font-weight: bold;
}

.green {
	font-size: 40px !important;
	color: #5df4b0;

}

.green h1 {
	font-size: 160px;
	text-align: center;
	border-radius: 50%;
	border-color: #FF6384;
}

.green h2 {
	font-size: 80px;
}

.stats {
	font-size: 40px !important;
}

#login {
	background-color: black;
	width: 320px;
	padding: 20px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#loginContainer {
	margin: 0 auto;
	width: 340px;
	padding-top: 10%;
	text-align:center;
}

.btn {
	border-radius: 50px;
}

.btn-primary {
	background-image: linear-gradient(to right, #308bd0 0%, #330867 100%);
	border: transparent;
	box-shadow:0px 0px 3px #333;
}

#loginButton {
	width: 100%;
}

.dropdown-menu {
	background-color: black;
	color: white;
}

.dropdown-menu ul {
	list-style: none;
}

#profileMenu:hover {
	cursor: pointer;
}

#start-button {
	padding-left: 10px;
	padding-right: 10px;
	top: 68%;
	left: 53%;
	position: fixed;
	border-radius: 10%;
	border-color: #FF6384;
	border-width: 5px;
}

#tictactoe-icons .fa-times {
	top: 74%;
	left: 35%;

}

#tictactoe-icons .fa-circle {
	top: 74%;
	left: 78%;

}

.move {
	position: fixed;
	background-color: #FF6384;
	animation: bounce 1s infinite alternate;
	-webkit-animation: bounce 1s infinite alternate;
}

@keyframes bounce {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-70px);
	}
}

@-webkit-keyframes bounce {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-70px);
	}
}

.username-container {
	font-family:'VT323', sans-serif;
	display: inline-text;
}

.avatar-container {
	border-left: 3px solid rgba(204,51,204,0.2);
	border-bottom: 3px solid rgba(204,51,204,0.2);
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.avatar {
	height: 200px;
}

#change-icon {
	margin-top: 15px;
	margin-left: 38px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.user-bio {
	margin-left: 40px;
}

.profile-changes {
	margin-top: 40px;
	background-color: rgb(0,0,0,0.3);
}

#tictactoeboard {
	margin: 0 auto;
}

#tictactoeboard td {
	border: 4px solid #d3cfd6;
	height: 200px;
	width: 200px;
	text-align:center;
	border-radius:10px;
}

.ttt-circle-all {
	background-image: linear-gradient(to right, #308bd0 0%, #330867 100%);
	color: transparent;
	-webkit-background-clip: text;
	font-size: 10em;
}

.ttt-x-all {
	background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
	color: transparent;
	-webkit-background-clip: text;
	font-size: 12em;
}

#tictactoeboard #top-left-ttt {
	border-left:none;
	border-top:none;
}

#tictactoeboard #top-center-ttt {
	border-top:none
}

#tictactoeboard #top-right-ttt {
	border-right:none;
	border-top:none;
}

#tictactoeboard #middle-left-ttt {
	border-left:none;
	border-top:none;
}

#tictactoeboard #middle-center-ttt {
	border-top:none
}

#tictactoeboard #middle-right-ttt {
	border-right:none;
	border-top:none;
}

#tictactoeboard #bottom-left-ttt {
	border-left:none;
	border-top:none;
	border-bottom:none;
}

#tictactoeboard #bottom-center-ttt {
	border-top:none;
	border-bottom:none;
}

#tictactoeboard #bottom-right-ttt {
	border-right:none;
	border-top:none;
	border-bottom:none;
}

#registerSpan {
	font-weight: 900;
	font-size: 16px;
	margin-top: 20px;
	display: inline-block;
}
